parameters:
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
    excludePaths:
        - vendor/*
        - tests/*
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
    		-
    		    message: '#Method App\\Entity\\Vehicule\\VehiculeModele::setMarque\(\) is unused.#'
    		    path: src/Entity/Vehicule/VehiculeModele.php